@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Poppins&display=swap');
body{
    margin: 2%;
    font-family: 'Dosis', sans-serif;
}

#background-img{
    height: 85vh;
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/slide-2.jpg);
    background-repeat: no-repeat;
    background-size: cover, cover;
    opacity: 1;
}
#header{
    width: 90%;
    margin:auto;
    position: relative;
    top: 5%;
    display: flex;
}
#logo{
    width:180px; 
    height:110px;
    background-color:#e47336;
    margin-bottom: 20px;
}
#logo > img{ 
    width: 90px;
    margin:0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}
#menu{
    background-color: white;
    display: flex;
    justify-content: right;
    width: 90%;
    height: 88px;
    align-items: center;
}

#free-quote{
    width: 160px;
    height: 88px;
    background-color: #e47336 ;
}
#free-quote p{
    font-size:12px;
    font-weight:900;
    text-align:center;
    color: white;
    position: relative;
    top: 30%;
}
#menu div{
    margin:0px 2%;
    font-size: 12px;
    font-weight: 700;
}
/* #menu:nth-child(6){
    margin-right: 20%;
} */

#text-box{
    width: 50%;
    margin-left:5%;
    margin-top: 7%;
}
#text-box h1{
    font-size: 62px;
    margin: 0px;
    color: white;
    font-weight:900;
    /* line-height: 70px; */
    letter-spacing: 1px;
}
#text-box p{
    font-size: 20px;
    color: hsla(0, 0%, 100%, 0.7);  
}
#text-box>div{
    width: 25%;
    height: 50px;
    background-color: #e47336;
}
#text-box>div>p{
    padding: 15px 25px;
    font-size: 12px;
    text-align: center;
    margin: none;
}
#social-account-top{
    width: 60px;
    height: 220px;
    position:absolute;
    top: 45%;
    right:2%;
    /* position:relative;
    z-index: 1;
    right: -94.5%;
    top:-100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color:black;
}
#social-account-top>div>i{
    cursor: pointer;
    margin: 20px;
    color: white;
}
#social-account-top>div:nth-child(1), #social-account-top>div:nth-child(2),#social-account-top>div:nth-child(3){
    border-bottom: 1px solid white;
}
#bottom-box{
    margin-right: 2%;
    background-image:linear-gradient(186deg, #e47312, #ff6361);
    position:absolute;
    top: 75%;
    right:0%;
    padding: 15px 100px 5px 50px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    font-family: Dosis, sans-serif;
    color: white;
    font-size: 17px;
    line-height: 25px;
}
#bottom-box>div{
    text-align: center;
}
#bottom-box img{
    width: 24px;
    margin-bottom: 15px;
}
#bottom-box h1{
    /* text-align: center;
    font-size: 13px; */
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#bottom-box p{
    color: hsla(0, 0%, 100%, 0.7)
}
#map{
    width: 30%;
    font-size: 13px;
    font-weight: 600;
    margin: 0 auto;
}
#map:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}


#services-container{
    margin: 0 auto;
    margin-top: 200px;
    width: 85%;
    display: flex;
    justify-content: space-between;

}
#services-container h1{
    /* position: relative;
    z-index: 2; */
    color: black; 
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* align-items: center; */
}
#services-container a{
    display: block;
    margin-top:50%;
    padding-bottom: 5px;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
}

#services-container a:hover{
    border-bottom: 2px solid #e47336;
}

#services-offered{
    margin: 100px auto 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;

}
#services-offered>div{
    width: 24%;
    text-align: left;

}
#services-offered>div>img{
    width: 60px;
    margin-bottom: 20px;
}
#services-offered>div>h3{
    margin-top: 0px;
    font-size: 17px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#services-offered>div>p{
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
#services-offered>div>div{
    margin: 15px 0px;
    display:inline;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
}
#services-offered>div>div:hover{
    cursor: pointer;
    border-bottom: 2px solid #e47336;
}

#who-we-are{
    margin: 100px auto 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#img-div{
    width: 50%;
    box-sizing: border-box;
}
#img-div>img{
    width: 100%;
}
#text-div{
    width: 40%;
}

/* #background-about{
    position: absolute;
    left: -53px;
    top: -26px;
    z-index: 1;
    color: rgba(241, 241, 247, 0.4);
    font-size: 120px;
    letter-spacing: 11px;
} */
#text-div >h1{
    position: relative;
    z-index: 2;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    font-weight: 900px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#text-div>p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
#text-div>div{
    width: 21%;
    margin-top: 25px;
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#text-div>div:hover{
    cursor: pointer;
    border-bottom: 2px solid #e47336;
}
#number-box{
    margin: 100px auto 0 auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
}
#number-box div{
    margin-right: 12%;
}
#number-box h1{
    margin-bottom: 10px;
    color: #e47312;
    font-size: 60px;
    line-height: 70px;
    font-weight: 900;
}
#number-box p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
#our-work{
    background-color: #f7f8fc;
    margin-top: 100px;
}
#our-work-header{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#our-work-header h1{
    position: relative;
    z-index: 2;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
}
#our-work-header>div{
    margin-top: 100px;
}
#grid-div{
    margin: 100px 2% 0px 2%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap:20px
}
#grid-div img{
    cursor: pointer;
    width:100%;
    height:100%;   
}
.test{
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #e47312;
    position: relative;
    top: -50%;
    left: 50%;
}
#abc:hover .test{
    /* position: relative; */
    z-index: 10;
}
#big-box{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: #e47312;
    background-image: linear-gradient(72deg, #e47312, rgba(255, 99, 97, 0.78)), url(../img/banner-2.jpg);
    background-position: 0px 0px, 50% 50%;
    background-size: auto, cover;
    background-repeat: repeat, no-repeat;
    background-attachment: scroll, fixed;
    margin:2% auto 100px auto;
    text-align: center;
    color: white;
}
#big-box h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 1px;
}
#big-box p{
    margin-top: 10px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    margin-bottom: 35px;
    color: hsla(0, 0%, 100%, 0.7);
}
#big-box>div{
    padding: 5px 0;
    width:8%;
    margin: 0 auto;
}
#big-box>div:hover{
    cursor: pointer;
    border-bottom: 2px solid white;

}
#professonal-div{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
}
#professonal-heading{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;

}
#professonal-heading>div{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}
#professonal-post{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 3%;
    margin-bottom: 100px;
    cursor: pointer;
}
#professonal-post img{
    width: 100%;
    margin-bottom: 0%;   
}
.team-photo{
    min-height: 300px;
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
}
#team-photo-1{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-1.jpg);
}
#team-photo-2{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-2.jpg);
}
#team-photo-3{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-3.jpg);
}
#team-photo-4{
    background-image: url(https://nuuk-e3eaa.firebaseapp.com/assets/img/team-4.jpg);
}

.team-name{
    padding: 25px 56px 25px 30px;
    background-color: white; 
}
.team-name h1{
    color: balck;
    font-weight: 900;
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;

}
.team-name p{
    margin-bottom: 5px;
    color: hsla(0, 1%, 71%, 0.7);
    font-size: 17px;
    line-height: 25px;
}
.social-account{
    width: 60px;
    height: 170px;
    position:relative;
    z-index: 1;
    right: -77%;
    bottom:40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #e47312;
}
.social-account>div:nth-child(1){
    border-bottom: 1px solid orange;
}
.social-account>div:nth-child(2){
    border-bottom: 1px solid orange;
}
.social-account >div>i{
    margin: 20px;
    color: white;
}
#testimonial-div{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    display: flex;
    justify-content: space-between;
}
#testimonial-text{
    width: 30%;
}
#testimonial-feedback{
    width: 50%;
}
#testimonial-text>div>p{
    margin-bottom: 10px;
    font-family: Dosis, sans-serif;
    color: #919197;
    font-size: 17px;
    line-height: 25px;
}
#news-div{
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
}
#latest-news{
    display: flex;
    justify-content: space-between;
    margin-bottom: 7%;
}
#latest-news>div>h1, #professonal-heading>div>h1, #testimonial-text>div>h1{
    margin-top: 0px;
    margin-bottom: 0px;
    color: black;
    font-size: 42px;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#latest-news>div{
    color: #919198;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
}
#view-blog-link p{
    padding-bottom: 5px;
}
#view-blog-link p:hover{
    cursor: pointer;
    border-bottom: 2px solid #e47336;
}
#blog-post{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1%;
    margin-bottom: 100px;
    cursor: pointer;
}

#blog-post img{
    width: 100%;
    margin-bottom: 0%;
}
/* #date-div{
    width: 70px;
    height: 100px;
    background-color: #e47312;
    position: relative;
    z-index:10;
    left:82%;
    bottom: 80%;

} */
.blog-post-text{
    position: relative;
    top: -1%;
    padding: 25px 56px 25px 30px;
    background-color: #e47312;
    background-image: linear-gradient(158deg, #e47312, #ff6361);

}
.blog-post-text h1{
    color: white;
    font-weight: 900;
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 19px;
    line-height: 26px;
}
.blog-post-text p{
    margin-bottom: 5px;
    color: hsla(0, 0%, 100%, 0.7);
    font-size: 17px;
    line-height: 25px;
}
.blog-post-text h3{
    width: 24%;
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    border-bottom:2px solid orange;
    
}
.blog-post-text h3:hover{
    cursor: pointer;
    border-bottom:2px solid white;
}

#all-company-logo{
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(56deg, #e47312, #ff6361);
    display: flex;
    justify-content: space-evenly;
}
#all-company-logo>div>h1{
    margin-right: 60px;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 900px;
}
#logo-1 >img{
    cursor: pointer;
    width: 100px;
}
#logo-2 >img{
    cursor: pointer;
    width: 100px;
}
#logo-3 >img{
    cursor: pointer;
    width: 100px;
}
#logo-4 >img{
    cursor: pointer;
    width: 100px;
}
#logo-5 >img{
    cursor: pointer;
    width: 100px;
}
footer{
    position: relative;
    z-index: 1;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 70px;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 1px solid #2f3038;
    background-color: #0a1229;
}
#about-div{
    color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

}
#about-div>div{
    width: 33%;
    margin-right: 10%;
}
#map-2{
    width: 25%;
    font-size: 13px;
    font-weight: 600;
}
#map-2:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}
#services-link >h3{
    width: 40%;
    margin-bottom: 25px;
}
/* .line{
    display: inline-block;
    width: 50%;
    height: 1px;
    background-color: #ff6361;
} */
#services-link > div{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 37%;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 900;
}

#services-link > div:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}
.phone-div{
    display: flex;
}
.phone-div h3{
    margin-top: 0px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
}
.phone-div p{
    margin-bottom: 25px;
    color: hsla(0, 0%, 100%, 0.7);
}
.contact-img{
    width: 20px;
    margin-right: 15px;
    margin-bottom: 0px;
    
}
#bottom-logo{
    width:180px; 
    height:110px;
    background-color:#e47336;
    
}
#bottom-logo > img{
    width: 90px;
    margin:0 auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}
